.child-div
{
    width:55%;
    height:auto;
    margin:auto;
    padding-top:10px ;
   
    margin-top:100px;
    box-shadow: 3px 3px 4px lightgray;
    border:1px  solid whitesmoke;
   
}
.addItems {
    padding: 10px;
} 
.showItems
{
  padding-left: 13px;
  padding-right: 13px;
}
.eachItem{
    margin-left: 25px;

} 
.todo-btn
{
    margin-left:10px;
}
.clr-btn
{
  margin-left: 400px;
}

input.form-check-input:checked + label
{
  text-decoration: line-through;
}
.footer
{
  width:100%;
  padding-top: 6px;
  padding-left: 6px;
  border-top :1px solid;
  background-color: lightyellow;
}